.header {
  background-image: linear-gradient(
      to right bottom,
      var(--mantine-color-red-light-hover),
      var(--mantine-color-black)
    ),
    url(../../assets/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center center;
  display: grid;
}

.titleHeader {
  text-align: center;
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 3em !important;
  }
}
