.container {
  grid-row: 2;
  grid-column: 2/-1;

  @media (max-width: $mantine-breakpoint-sm) {
    grid-column: 1/-1;
  }
}
.acc {
  overflow-y: auto;
  width: 80rem;
  justify-content: center;
  @media (max-width: $mantine-breakpoint-md) {
    width: 55rem;
  }
  @media (max-width: $mantine-breakpoint-xs) {
    width: 40rem;
  }

  height: 50rem;

  padding-right: 3rem;
  margin: auto auto;
}

.item {
  border: 3px solid var(--mantine-color-gray-7);
  background-image: linear-gradient(
    to bottom left,
    var(--mantine-color-body),
    rgba(0, 0, 0, 0.6)
  );
}
