.header {
  background-color: var(--mantine-color-body);

  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);

  grid-row: 1;
  grid-column: 1/-1;
  min-height: rem(60px);
  background-image: linear-gradient(
    to bottom left,
    rgba(255, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5)
  );
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}
