.wrapper {
  display: grid;
  overflow-y: auto;
  gap: 10px;
  height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5)
  );
}

.dirChange {
  @media (max-width: $mantine-breakpoint-lg) {
    flex-direction: column;
    align-items: center;
  }
}

.form {
  height: 63rem;

  @media (max-width: $mantine-breakpoint-lg) {
    width: 65rem;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    width: 55rem;
  }
  @media (max-width: $mantine-breakpoint-xs) {
    width: 32rem;
  }
  @media (min-width: rem(1700px)) {
    height: 90rem;
  }
}

.imger {
  height: 63rem;
  @media (max-width: $mantine-breakpoint-lg) {
    width: 65rem !important;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    height: 0;
  }

  @media (max-height: $mantine-breakpoint-xl) {
    height: 0;
  }

  @media (min-width: rem(1700px)) {
    height: 90rem;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);
}
