.container {
  display: flex;
  grid-row: 2;
  grid-column: 2/-1;
  margin-top: 2rem;
  justify-content: center;
  margin-top: 3rem;
  @media (max-width: $mantine-breakpoint-sm) {
    grid-column: 1/-1;
  }
}

.small {
  width: 48rem;

  @media (max-width: $mantine-breakpoint-xs) {
    width: 35rem;
  }
}
